In [8]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2 
import requests
from json import load
import json

ModuleNotFoundError: No module named 'psycopg2'

## Understanding the JSON schema from DataBase

In [ ]:
with open('Agri_schema.json', "r") as sc:
    schema = load(sc)
    
    pretty_json = json.dumps(schema, indent=3)
    print(pretty_json)

# Open JSON file
##Download the file from link in Readme or Resources

In [ ]:
json_file ="agri-environmental-indicators-emissions-by-sector.json"

In [6]:
entire_file_df = pd.read_json(json_file)
entire_file_df.head()

NameError: name 'json_file' is not defined

In [5]:
fields_df = entire_file_df.loc[:, "fields"]
fields_df.head()

NameError: name 'entire_file_df' is not defined

### Create a Dataframe

In [3]:
ent_json = pd.json_normalize(fields_df)
ent_json

NameError: name 'fields_df' is not defined

### Selecting Major 50 countries Representating Emissions DataBase

In [4]:

counrty_list = ['United States', 'Mexico', 'Brazil', 'Columbia', 'Venezuela','Chile','Peru','India','Bangladesh','Sri Lanka',
                'Myanmar', 'Pakistan', 'Russia', 'Ukraine', 'Kazakhstan', 'Azerbaijan', 'Armenia', 'Afghanistan', 'Uzbekistan',
                'South Africa', 'Nigeria', 'Ghana', 'Morocco', 'Egypt', 'Kenya', 'China', 'Japan', 'Hong Kong', 'Singapore', 
                'Thailand', 'Malaysia', 'Korea', 'Viet Nam', 'United Kingdom', 'France', 'Germany', 'Norway', 'Italy', 
                'Spain', 'Portugal', 'Sweden', 'Turkey', 'Greece', 'Saudi Arabia', 'Bahrain', 'Syrian Arab Republic', 
                'Iraq', 'Qatar', 'United Arab Emirates', 'Kuwait']

In [11]:
Agri_emis_cntry = ent_json.loc[ent_json["area"].isin(counrty_list)]
Agri_emis_cntry

,year,element,unit,area,item,value
697,2000,Emissions Share (CO2),%,Mexico,Energy - food systems,12.4978
698,2009,Emissions Share (CO2),%,Mexico,Energy - food systems,12.8555
699,2013,Emissions Share (CO2),%,Mexico,Energy - food systems,11.8992
700,2016,Emissions Share (CO2),%,Mexico,Energy - food systems,12.5585
701,2018,Emissions Share (CO2),%,Mexico,Energy - food systems,13.1745
...,...,...,...,...,...,...
1680933,1991,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,4648.9348
1680934,1996,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,4678.1061
1680935,1997,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,4646.0924
1680936,2016,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,1923.3412
1680937,2004,Emissions (CO2),kilotonnes,Sri Lanka,LULUCF,2505.1741

# Cleaning Data

In [12]:
Agri_emis_cntry = Agri_emis_cntry.dropna(how='any')
Agri_emis_cntry.reset_index(drop = True, inplace = True)
Agri_emis_cntry

,year,element,unit,area,item,value
0,2000,Emissions Share (CO2),%,Mexico,Energy - food systems,12.4978
1,2009,Emissions Share (CO2),%,Mexico,Energy - food systems,12.8555
2,2013,Emissions Share (CO2),%,Mexico,Energy - food systems,11.8992
3,2016,Emissions Share (CO2),%,Mexico,Energy - food systems,12.5585
4,2018,Emissions Share (CO2),%,Mexico,Energy - food systems,13.1745
...,...,...,...,...,...,...
302723,1991,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,4648.9348
302724,1996,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,4678.1061
302725,1997,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,4646.0924
302726,2016,Emissions (CO2eq) (AR5),kilotonnes,Sri Lanka,LULUCF,1923.3412
302727,2004,Emissions (CO2),kilotonnes,Sri Lanka,LULUCF,2505.1741

### Various Industry Sectors in Emissions Data Frame

In [14]:
Agri_emis_sector = Agri_emis_cntry['item'].value_counts()
Agri_emis_sector_df = pd.DataFrame(Agri_emis_sector)
Agri_emis_sector_df

                                 item
Food systems                    12593
IPCC Agriculture                12593
Energy                          12593
Energy - food systems           12593
Farm-gate emissions             12593
Land Use change                 12593
AFOLU                           12593
All sectors without LULUCF      12593
Food Household Consumption      12593
All sectors with LULUCF         12593
Waste - food systems            12593
Emissions on agricultural land  12593
LULUCF                          12593
Food Transport                  12593
Food Processing                 12593
Food Waste Disposal             12593
On-farm electricity use         12593
Pre- and post- production       12593
Food Packaging                  12581
LULUCF - food systems           12533
IPPU                            12037
Waste                           11525
Food Retail                     10224
Other                            7713
Fertilizers Manufacturing        6361
IPPU - food systems              3080

### Export Industry Sectors to CSV

In [15]:
Agri_emis_sector_df.to_csv("Agri_emis_by_Sector.csv", index= True, header = True)

### Understanding the various compounds used in emssions database

In [16]:
Agri_emis_gases = Agri_emis_cntry['element'].value_counts()
Agri_emis_gases_df = pd.DataFrame(Agri_emis_gases)
Agri_emis_gases_df

                               element
Emissions (CO2eq) (AR5)          32239
Emissions Share (CO2eq) (AR5)    32239
Emissions (F-gases)              31650
Emissions Share (N2O)            31139
Emissions (N2O)                  31139
Emissions Share (CO2)            29586
Emissions (CO2)                  29586
Emissions Share (CH4)            29098
Emissions (CH4)                  29098
Emissions Share (F-gases)        26954

### Since "Emission Share" has a unit of % whereas normal emissions are measured in kilotonnes it is thought that 2 separate dataframes would be beneficial for loading into Database for Query purposes - one with % emissions and other with actual value

### % emissions of the 50 selected countries

In [17]:
Agri_em_percent = Agri_emis_cntry.loc[(Agri_emis_cntry["element"] == "Emissions Share (CO2eq) (AR5)") | 
                                      (Agri_emis_cntry["element"] == "Emissions Share (N2O)") |
                                        (Agri_emis_cntry["element"] == "Emissions Share (CO2)") |
                                      (Agri_emis_cntry["element"] == "Emissions Share (CH4)") |
                                       (Agri_emis_cntry["element"] == "Emissions Share (F-gases)"), :]
Agri_em_percent.reset_index(drop = True, inplace = True)
Agri_em_percent

,year,element,unit,area,item,value
0,2000,Emissions Share (CO2),%,Mexico,Energy - food systems,12.4978
1,2009,Emissions Share (CO2),%,Mexico,Energy - food systems,12.8555
2,2013,Emissions Share (CO2),%,Mexico,Energy - food systems,11.8992
3,2016,Emissions Share (CO2),%,Mexico,Energy - food systems,12.5585
4,2018,Emissions Share (CO2),%,Mexico,Energy - food systems,13.1745
...,...,...,...,...,...,...
149011,2001,Emissions Share (N2O),%,Sri Lanka,LULUCF,0.0000
149012,2004,Emissions Share (N2O),%,Sri Lanka,LULUCF,0.0259
149013,2012,Emissions Share (N2O),%,Sri Lanka,LULUCF,0.0614
149014,2016,Emissions Share (N2O),%,Sri Lanka,LULUCF,0.0475
149015,2018,Emissions Share (N2O),%,Sri Lanka,LULUCF,0.0000

### Renaming & Organizing Columns

In [21]:
Rename_Agri_em_percent = Agri_em_percent.rename(columns = {"area": "Country", "value":"Percent_Glb_Agri_Emission", "element":"GH-gases", "item": "Agri_Industry_Sector" })
Org_agri_emi_per = Rename_Agri_em_percent[["year", "Country", "GH-gases", "Agri_Industry_Sector", "Percent_Glb_Agri_Emission", "unit"]]
Org_agri_emi_per

,year,Country,GH-gases,Agri_Industry_Sector,Percent_Glb_Agri_Emission,unit
0,2000,Mexico,Emissions Share (CO2),Energy - food systems,12.4978,%
1,2009,Mexico,Emissions Share (CO2),Energy - food systems,12.8555,%
2,2013,Mexico,Emissions Share (CO2),Energy - food systems,11.8992,%
3,2016,Mexico,Emissions Share (CO2),Energy - food systems,12.5585,%
4,2018,Mexico,Emissions Share (CO2),Energy - food systems,13.1745,%
...,...,...,...,...,...,...
149011,2001,Sri Lanka,Emissions Share (N2O),LULUCF,0.0000,%
149012,2004,Sri Lanka,Emissions Share (N2O),LULUCF,0.0259,%
149013,2012,Sri Lanka,Emissions Share (N2O),LULUCF,0.0614,%
149014,2016,Sri Lanka,Emissions Share (N2O),LULUCF,0.0475,%
149015,2018,Sri Lanka,Emissions Share (N2O),LULUCF,0.0000,%

### Deleting rows with 0 emmisions and Finalizing DataFrame for loading into SQL

In [22]:
del Org_agri_emi_per['unit']
final_agri_em_per_df = Org_agri_emi_per.loc[(Org_agri_emi_per["Percent_Glb_Agri_Emission"]>0), :]
final_agri_em_per_df = final_agri_em_per_df.sort_values("year")
final_agri_em_per_df.reset_index (drop =True, inplace = True)
final_agri_em_per_df

,year,Country,GH-gases,Agri_Industry_Sector,Percent_Glb_Agri_Emission
0,1990,Egypt,Emissions Share (CO2eq) (AR5),Energy,66.7577
1,1990,Japan,Emissions Share (CO2eq) (AR5),All sectors without LULUCF,106.3107
2,1990,Japan,Emissions Share (CH4),All sectors with LULUCF,100.0000
3,1990,Japan,Emissions Share (N2O),Food Packaging,0.2160
4,1990,Peru,Emissions Share (N2O),Food Waste Disposal,1.9951
...,...,...,...,...,...
115243,2019,Azerbaijan,Emissions Share (CO2),On-farm electricity use,1.6114
115244,2019,Portugal,Emissions Share (F-gases),Pre- and post- production,3.0105
115245,2019,Azerbaijan,Emissions Share (CO2eq) (AR5),On-farm electricity use,1.0351
115246,2019,Bangladesh,Emissions Share (CH4),IPPU,0.0001
115247,2019,Armenia,Emissions Share (CO2eq) (AR5),Food Transport,1.3281

### Value of Emissions in Kilotonnes DataFrame

In [1]:
Agri_em_actual = Agri_emis_cntry.loc[(Agri_emis_cntry["element"] == "Emissions (CO2eq) (AR5)") | 
                                      (Agri_emis_cntry["element"] == "Emissions (N2O)") |
                                        (Agri_emis_cntry["element"] == "Emissions (CO2)") |
                                      (Agri_emis_cntry["element"] == "Emissions (CH4)")|
                                     (Agri_emis_cntry["element"] == "Emissions (F-gases)"), :]
Agri_em_actual.reset_index(drop = True, inplace = True)
Rename_Agri_em_actual = Agri_em_actual.rename(columns = {"area": "Country", "value":"Glb_Agri_Emission_ktonnes", "element":"GH-gases", "item": "Agri_Industry_Sector" })
Org_agri_emi_act = Rename_Agri_em_actual[["Year", "Country", "GH-Gases", "Agri_Industry_Sector", "Glb_Agri_Emission_ktonnes", "unit"]]
del Org_agri_emi_act['unit']
final_agri_em_act_df = Org_agri_emi_act.loc[(Org_agri_emi_act["Glb_Agri_Emission_ktonnes"]>0), :]
final_agri_em_act_df.reset_index (drop =True, inplace = True)
final_agri_em_act_df= final_agri_em_act_df.sort_values("Year")
final_agri_em_act_df

NameError: name 'Agri_emis_cntry' is not defined

## Connect to Local SQL DataBase

In [24]:
from config import password

In [25]:
protocol = 'postgresql'
username = 'postgres'
host = 'localhost'
port = 5432
database_name = 'Global_Emissions'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)
# connection = engine.connect()

In [26]:
engine.table_names()

['Global_Greenhouse_Emissions',
 'Global_Agri_Greenhouse_Emissions',
 'Global_Agri_Percent_Emissions']

In [88]:
final_agri_em_act_df.to_sql(name='Global_Agri_Greenhouse_Emissions', con=engine, if_exists='append', index=False)

In [99]:
final_agri_em_per_df.to_sql(name='Global_Agri_Percent_Emissions', con=engine, if_exists='append', index=False)