In [1]:
import pandas as pd

In [5]:
world_oil_cntry ="worldoildata_allcountries.csv"
world_oil_cntry = pd.read_csv(world_oil_cntry)
world_oil_cntry

world_oil_cntry = world_oil_cntry.rename(columns = {"Unnamed: 0": "Country"}) 
del world_oil_cntry["REGION_NAME"]
world_oil_cntry

selected_cntry ="selected_cntrys.csv"
selected_cntry = pd.read_csv(selected_cntry)
selected_cntry

selected_cntry = selected_cntry.rename(columns = {"0": "Country"}) 
del selected_cntry["Unnamed: 0"]
selected_cntry

df = pd.merge(world_oil_cntry, selected_cntry, how = 'inner', on = 'Country')
df

           Country
0   United Kingdom
1    United States
2            Japan
3          Germany
4           France
5            Italy
6            China
7           Brazil
8            India
9           Mexico
10          Russia
11        Malaysia
12           Egypt
13          Norway
14           Chile
15    Saudi Arabia
16            Iraq
17         Nigeria
18       Venezuela
19          Kuwait
20           Korea
21      Azerbaijan
22      Kazakhstan
23           Qatar

In [6]:
df.to_csv("common_cntry_Woil_emissions_data.csv", index= True, header = True)